$body-background-color: #fffffd;
$body-font-family:"Open Sans";
$font-family-secondary:"Open Sans";

$font-size-large:28px;
$font-size-medium:18px;
$font-size-small:15px;
$font-size-smaller:14px;
$font-size-v-small:12px;
$font-size-abs-small:11px;

$header-font-size:16px;
$anchor-font-size:16px;
$anchor-line-height:27px;
$para-font-size:16px;
$para-font-color:#23343a;
$para-line-height:32px;

//$container-desktop-width:940px;
$container-desktop-width:990px;
$container-tablet-width:850px;
$container-phone-width:none;

$button-bg-color:#00aeef;
$button-font-color:#ffffff;
$button-inactive-bg-color:transparent;
$button-inactive-font-color:#333333;

$link-font-color:#00aeef;
$link-font-size:18px;

$header-bg-color:#383838;
$header-font-color:#88cfff;
$header-font-color-hover:#00aeef;
$header-min-height:59px;
$header-font-size:16px;

$footer-bg-color:#383838;
$footer-font-color:#88cfff;
$footer-height:60px;
$footer-width:100%;

$h5-font-size:$font-size-medium;
$h5-font-color:#27383e;
$h5-line-height:55px;

$textbox-background: rgba(35, 52, 58, 0.92);
$light-font-color:rgba(242, 244, 246, 0.49);
$lighter-font-color:#f2f4f6;
$login-link-color:#b3babd;
$login-link-font-size:13px;

$error-text-color:red;

$password-title-font:36px;
$header-container-desktop-width:$container-desktop-width;
$header-container-tablet-width:none;
$header-container-phone-width:none;

$error-page-title-font:36px;
$error-page-title-color:#00aeef;

$success-text-color:green;

$error-para-color:#27383e;
$error-para-font:$font-size-medium;
$error-font:13px;