<div class="row error-page">
    <div class="container cd-container">
        <div class="row error-heading">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10 text-center">
                <h2>Error occurred!!</h2>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-center"></div>
        </div>
        <div class="row error-para-top">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10 text-center">
                <p>Error occurred while servicing your request. Please contact the administrator.</p>
            </div>
            <div class="col-md-1 col-sm-1 text-center"></div>
        </div>
    </div>
</div>