<div>
    <nav id="cd-navbar" class="navbar navbar-inverse navbar-static">
        <div class="cd-header-container">
            <div>
                <div class="col-md-6 col-sm-12 col-xs-12 cd-header">
                    <div class="navbar-header">
                        <div id="container">
                            <div id="div1">
                                <a href=""  ui-sref="home">
                                    <img class="cd-logo img-responsive" src="assets/images/logo.png">
                                </a>
                            </div>
                            <div id="div2">
                                <span>Company Details</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>